.collection-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .items {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    & .collection-item {
      margin: 0 auto 30px;
    }
  }

  @media screen and (max-width: 800px) {
    .title {
      font-size: 30px;
      margin: 0 auto 20px;
    }
    .items {
      grid-template-columns: 1fr 1fr;
    }
  }
}
